

body{
    background-image: url('../Images/water-1.jpg');
    background-repeat: after;
}

header{
    width: 1800px;
    height: 200px;
}

#Logo{
    width: 300px;
    height: 200px;
    margin-left: 40px;
    margin-top: 40px;
}


#HM{
    background-color: #D2F52A;
    width: 300px;
    height: 250px;
    color: darkblue;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 1100px;
    margin-top: -250px;
}

#HR{
    background-color: #D2F52A;
    width: 300px;
    height: 250px;
    color: darkblue;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 1445px;
    margin-top: -290px;
}

#MIMIR{
    text-align: center;
    margin-top: 20px;
}

.MIMIR{
    color: darkblue;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;
}

nav{width: 1700px;
    height: 40px;
    background-color: #F5695B;
    text-align: center;
    font-family: monospace;
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 10px;
    }

.nav1{
    color: #1D5BA8;
    font-size: 20px;
    font-weight: bold;
}

#AGORA{
    background-image: image(AGORA);
    width: 800px;
    height: 400px;
    margin-left: 40px;
    margin-top: 40px;
    }

#Video1 iframe{
    width: 800px;
    height: 400px;
    margin-left: 40px;
    margin-top: 40px;
}

#Actualité1{
    background-color: white;
    width: 800px;
    height: 400px;
    margin-left: 900px;
    margin-top: -440px;
}

#Video2 iframe{
    width: 800px;
    height: 400px;
    margin-left: 800px;
    margin-top: 500px;
}

#Actualité2{
    background-color: white;
    width: 800px;
    height: 400px;
    margin-left: 40px;
    margin-top: 60px;
}

#Texte1{
    background-color: white;
    width: 800px;
    height: 400px;
    margin-left: 900px;
    margin-top: -440px;
}

#Texte2{
    background-color: white;
    width: 900px;
    height: 420px;
    margin-left: 900px;
    margin-top: -450px;
}

#paragraphe{
    text-align:justify;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding: 30px;
    margin-top: 30px;
}

h1{
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h2{
    color:blue;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h3{
    color: blue;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h4{
    color: blue;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h5{
    color: blue;
    text-align:left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

a{
    color: red;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 20px;
}

p{
    color:black;
    text-align: justify;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

#nav-footer{
    width: 1700px;
    height: 40px;
    background-color: #F5695B;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 10px;
}

.a-footer{
    color: #1D5BA8;
    font-size: 20px;
    font-weight: bold;
}

#Facebook{
    width: 100px;
    height: 100px;
    margin-left: 850px;
    margin-top: 20px;
}